In [2]:
import pandas as pd
df=pd.read_csv('performance.csv')
df.head(5)

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  960 non-null    float64
 1   Name                       966 non-null    object
 2   Gender                     952 non-null    object
 3   AttendanceRate             960 non-null    float64
 4   StudyHoursPerWeek          950 non-null    float64
 5   PreviousGrade              967 non-null    float64
 6   ExtracurricularActivities  957 non-null    float64
 7   ParentalSupport            978 non-null    object
 8   FinalGrade                 960 non-null    float64
 9   Study Hours                976 non-null    float64
 10  Attendance (%)             959 non-null    float64
 11  Online Classes Taken       975 non-null    object
dtypes: float64(8), object(4)
memory usage: 93.9+ KB

In [11]:
df.describe()

,StudentID,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%)
count,960.000000,960.000000,950.000000,967.000000,957.000000,960.000000,976.000000,959.000000
mean,5416.019792,85.510417,17.630526,77.598759,1.520376,80.030208,2.406967,77.248175
std,2653.748319,7.332125,6.272132,10.006640,1.046439,9.493652,1.620267,19.298148
min,1.000000,70.000000,8.000000,60.000000,0.000000,62.000000,-5.000000,50.000000
25%,3113.500000,82.000000,12.000000,70.000000,1.000000,72.000000,1.200000,63.000000
50%,5396.500000,88.000000,18.000000,78.000000,1.000000,80.000000,2.500000,76.000000
75%,7754.750000,91.000000,22.000000,86.000000,2.000000,88.000000,3.700000,89.000000
max,9998.000000,95.000000,30.000000,90.000000,3.000000,92.000000,5.000000,200.000000

In [19]:
df.columns

Index(['StudentID', 'Name', 'Gender', 'AttendanceRate', 'StudyHoursPerWeek',
       'PreviousGrade', 'ExtracurricularActivities', 'ParentalSupport',
       'FinalGrade', 'Study Hours', 'Attendance (%)', 'Online Classes Taken'],
      dtype='object')

In [31]:
df[["Name","Gender","FinalGrade"]]

               Name  Gender  FinalGrade
0              John    Male        80.0
1             Sarah  Female        87.0
2              Alex    Male        68.0
3           Michael    Male        92.0
4              Emma  Female        85.0
..              ...     ...         ...
995  Kenneth Murray    Male        72.0
996       Amy Stout  Female        90.0
997             NaN    Male        68.0
998  Joseph Sherman    Male        85.0
999     Maria Walls  Female         NaN

[1000 rows x 3 columns]

In [33]:
High_Grades=df[df['FinalGrade']>80]
print(High_Grades)

     StudentID              Name  Gender  AttendanceRate  StudyHoursPerWeek  \
1          2.0             Sarah  Female            90.0               20.0
3          4.0           Michael    Male            92.0               25.0
4          5.0              Emma  Female             NaN               18.0
9         10.0          Isabella  Female            91.0               22.0
10      2824.0  Shannon Harrison    Male            88.0               25.0
..         ...               ...     ...             ...                ...
987     7350.0    Samantha Klein    Male            92.0               22.0
991     7701.0     Anna Martinez    Male            85.0               30.0
993     3592.0    Monica Johnson  Female            90.0               25.0
996     4497.0         Amy Stout  Female            91.0                NaN
998     7636.0    Joseph Sherman    Male            88.0               17.0

     PreviousGrade  ExtracurricularActivities ParentalSupport  FinalGrade  \
1             85.0                        2.0          Medium        87.0
3             90.0                        3.0            High        92.0
4             82.0                        2.0          Medium        85.0
9             86.0                        3.0            High        88.0
10            90.0                        0.0             NaN        87.0
..             ...                        ...             ...         ...
987           86.0                        2.0            High        88.0
991           70.0                        3.0          Medium        90.0
993           60.0                        1.0             Low        87.0
996           86.0                        0.0            High        90.0
998           60.0                        2.0            High        85.0

     Study Hours  Attendance (%) Online Classes Taken
1            2.2            70.0                 True
3            2.9            96.0                False
4            4.1            97.0                 True
9            2.9            59.0                 True
10           3.4            84.0                 True
..           ...             ...                  ...
987          3.1            81.0                 True
991          0.4            76.0                False
993          1.7            79.0                False
996          3.9            80.0                 True
998          0.9            53.0                 True

[461 rows x 12 columns]

In [1]:
filtered=df[(df['StudyHoursPerWeek']>20) & (df['FinalGrade']>80)]
print(filtered)
df.head()

NameError: name 'df' is not defined

In [41]:
df["mydatascore"]=df['FinalGrade']+2
df.head()

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken,mydata,mydatascore
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False,82.0,82.0
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True,89.0,89.0
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False,70.0,70.0
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False,94.0,94.0
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True,87.0,87.0

In [ ]:
X = df[['AttendanceRate', 'StudyHoursPerWeek', 'PreviousGrade']]
y = df['FinalGrade']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

from sklearn.linear_model import LinearRegression

model = LinearRegression()

StudentID                    40
Name                         34
Gender                       48
AttendanceRate               40
StudyHoursPerWeek            50
PreviousGrade                33
ExtracurricularActivities    43
ParentalSupport              22
FinalGrade                   40
Study Hours                  24
Attendance (%)               41
Online Classes Taken         25
dtype: int64